.footer {
    min-height: 423px;
    padding: 60px 0 90px 0;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 50px;
}

.footer-logo__wrap {
    margin-right: 10px;
    padding-bottom: 0;
}

.footer-top__copyright {
    font-family: 'Maax', 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--light-gray);
}

/*   Footer columns with lists   */
.footer-middle__columns-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}

.footer-middle__column_first,
.footer-middle__column_second {
    max-width: 185px;
    width: 100%;
    margin-right: 92px;
}

.footer-middle__column-title {
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    color: var(--accent-color);
    margin-bottom: 14px;
}

.footer-middle__list-link {
    text-decoration: none;
    font-family: 'Maax', 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--dark-gray);
}

.footer-middle__list-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer-middle__list-link:hover {
    font-weight: 600;
}

/*   Socials   */
.footer-middle__socials-wrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.footer-middle__socials-item {
    cursor: pointer;
}

.footer-middle__socials-item:not(:last-child) {
    margin-right: 5px;
}

.footer-middle__socials-icon {
    width: 32px;
    height: 32px;
}

/*   Footer bottom   */
.footer-bottom__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-bottom__address,
.footer-bottom__terms-link {
    font-family: 'Maax', 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--dark-gray);
    margin-bottom: 15px;
}

ul.footer-bottom__terms-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-bottom__terms-item {
    position: relative;
}

.footer-bottom__terms-item:not(:last-child) {
    margin-right: 45px;
}

.footer-bottom__terms-item:before {
    content: '';
    position: relative;
    display: inline-block;
    top: -3px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--dark-gray);
}

.footer-bottom__terms-link {
    text-decoration: none;
}

.footer-bottom__terms-link:hover {
    text-decoration: underline;
}

/* MEDIA */

/*   1200px   */
@media screen and (max-width: 1200px) {

}

/* 992px */
@media screen and (max-width: 992px) {

}

/* 768px */
@media screen and (max-width: 768px) {
    .footer {
        padding: 35px 0 50px 0;
    }
    .footer-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer-logo__wrap {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .footer-top__copyright {
        text-align: center;
    }

    .footer-middle__columns-wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-middle__column {
        text-align: center;
    }

    .footer-middle__column:not(:last-child) {
        margin-bottom: 30px;
    }

    .footer-middle__column_first,
    .footer-middle__column_second {
         max-width: unset;
         width: unset;
         margin-right: 0;
    }

    .footer-middle__socials-wrap {
        justify-content: center;
        align-items: center;
    }

    .footer-bottom__address {
        width: 175px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .footer-bottom__terms {
        width: 100%;
    }

    ul.footer-bottom__terms-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* 576px */
@media screen and (max-width: 576px) {
    .footer-top__copyright {
        font-size: 14px;
        line-height: 18px;
    }

    .footer-middle__columns-wrap {
        align-items: flex-start;
    }

    .footer-middle__column {
        text-align: left;
    }

    .footer-bottom__terms {
        margin-left: 10px;
    }

    ul.footer-bottom__terms-list {
        align-items: flex-start;
    }
}

@media screen and (width: 375px) {
    .footer-middle__socials-icon {
        width: 36px;
        height: 36px;
    }

    .footer-bottom__terms-item:not(:last-child) {
        margin-bottom: 30px;

    .footer-bottom__terms {
        margin-left: 0;
    }
}

/*=======*/