*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/*   Remove outline   */
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0!important;
    outline-color: transparent!important;
    outline-width: 0!important;
    outline-style: none!important;
    box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--dark-gray);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
/*@media (prefers-reduced-motion: reduce) {*/
/*    * {*/
/*        animation-duration: 0.01ms !important;*/
/*        animation-iteration-count: 1 !important;*/
/*        transition-duration: 0.01ms !important;*/
/*        scroll-behavior: auto !important;*/
/*    }*/
/*}*/

/*   Container  styles  */
.container {
    max-width: 1103px;
    margin: 0 auto;
}

/*   Main logo   */
.main-logo__wrap {
    padding: 5px 10px;
}

.main-logo__img {
    width: 115px;
    height: 33px;
}

/* Sections */
.section {
    padding: 60px 0;
}

.bg-gray {
    background-color: var(--bg-gray-color);
}

.section__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    color: var(--light-gray);
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.section__sm-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: var(--accent-color);
    text-transform: uppercase;
    margin-bottom: 15px;
}

.section__smaller-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    color: var(--light-gray);
}

.section__text {
    font-family: 'Maax', 'Montserrat', sans-serif;
}

.text_light-gray {
    color: var(--light-gray);
}

.section__text_bold {
    font-weight: 600;
}

.overlay {
    display: none;
    position: fixed;
    background: var(--bg-gray-color);
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    top: 0;
    padding: 30px 20px;
    overflow-y: scroll;
}

/*.overlay {
    display: block;
}*/

/* Buttons */
.button-accent {
    display: block;
    max-width: 300px;
    width: 100%;
    min-height: 60px;
    padding: 5px 10px;
    font-family: 'Maax', 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border-radius: 9px;
    border: none;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}

/*   Menu   */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__item-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 352px;
    width: 100%;
    min-height: 90px;
    text-decoration: none;
    padding: 20px 25px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 8px #0000000D;
    transition: all .5s;
}

.menu__item-wrap.active {
    background-color: #226C79;
}

.menu__item-wrap:not(:last-child) {
    margin-bottom: 10px;
}

.menu__item-wrap_main-item {
    flex-direction: column;
}

.menu__item-sponsors-wrap,
.menu__item-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu__item-top {
    border-bottom: 1px dashed #EAEAEA;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.menu__item-bottom {
    width: 100%;
}

.menu__item-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.menu__item-icon-wrap {
    margin-right: 5px;
}

.menu__item-icon-wrap-burger {
    width: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item-icon-wrap_main {
    margin-right: 15px;
}

.menu__item-icon {
    height: 50px;
    width: auto;
}

.menu__item-icon-camera {
    width: 30px;
}

.menu__item-text-block {
    font-family: 'Maax', 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--dark-gray);
}

.menu__item-text-block.active {
    color: var(--bg-white-color);
}

.menu__item-title {
    font-weight: 500;
}

.menu__item-icon-arrow {
    height: 13px;
    width: auto;
}

.menu__item-icon-arrow_white {
    display: none;
    height: 13px;
    width: auto;
}

/*   Button-accent_green   */
.button-accent_green {
    background-color: var(--button-accent-green);
}

.button-accent_green:hover {
    background-color: #0bd443;
}

.button-accent_green:active {
    background-color: #038828;
}

/*   Button-accent_orange   */
.button-accent_orange {
    background-color: var(--button-accent-orange);
}

.button-accent_orange:hover {
    background-color: #d27105;
}

.button-accent_orange:active {
    background-color: #9d5003;
}

/*   Button-accent_blue   */
.button-accent_blue {
    background-color: var(--button-accent-blue);
}

.button-accent_blue:hover {
    background-color: #3167f7;
}

.button-accent_blue:active {
    background-color: #3142f7;
}

/*    Aside block   */

.section__aside-block {
    max-width: 352px;
}

/*      Counter     */

.surface__block {
    border-radius: 20px;
    padding: 30px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.surface__wrap {
    margin: auto;
    margin-top: 40px;
    max-width: 390px;
}

.surface__links {
    display: flex;
    justify-content: center;
    min-height: 30px;
}

.surface__link {
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: var(--dark-gray);
    font-family: 'Maax', 'Montserrat', sans-serif;
}

.surface__link:not(:last-child) {
    margin-right: 15px;
}

.surface__link:hover {
    font-weight: 600;
    border-bottom: 2px solid;
}

.surface__link-active {
    font-weight: 600;
    border-bottom: 2px solid;
}

/*   surface__link_orange   */
.surface__links_orange {
    min-height: 0;
}

.surface__link_orange {
    color: var(--button-accent-orange);
    padding-bottom: 5px;
}

.surface__link_orange:first-child {
    margin-right: 21px;
}

.counter__wrap {
    width: 210px;
}

.counter__wrap-title {
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    color: #11282E;
    text-align: center;
}

.counter__wrap-content {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.counter__btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    position: relative;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside-main-counter__btn {
    background-color: var(--bg-gray-color)
}

.counter__btn:hover {
    background: var(--bg-dark-grey);
}

.counter__input {
    max-width: 130px;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    font-size: 25px;
    line-height: 30px;
    color: var(--button-accent-orange);
    text-align: center;
}

.surface__block-vouse-title {
    text-align: center;
    margin-top: 30px;
    font-style: italic;
}

.surface__block-vouse-info-wrap {
    width: 300px;
    background: #fff;
    min-height: 220px;
    margin-top: 10px;
    border-radius: 20px;
}

.surface__block-vouse-info-item {
    display: flex;
    padding: 15px 0;
    justify-content: center;
}

.surface__block-vouse-info-item:not(:last-child) {
    border-bottom: 1px dashed #D6D6D6;
}

.surface__block-vouse-info-img {
    margin-right: 5px;
    width: 12px;
    display: flex;
    align-items: center;
}

.surface__block-vouse-info-description {
    font-size: 14px;
    line-height: 18px;
    color: #11282E;
}

.block-vouse-info-description__text {
    font-style: italic;
}

/*    Tags    */

.tags__wrap {
    font-size: 14px;
    line-height: 18px;
    color: var(--button-accent-orange);
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.tags__item {
    padding: 5px 10px;
    border-radius: 4px;
    background: #ffeede;
    font-family: 'Maax','Montserrat', sans-serif;
}




/*    ЭТО ВРЕМЕННО ДЛЯ ТОГО ЧТОБЫ НЕ МЕШАТЬ ДРУГ ДРУГУ      */
/*    custom select  */
.custom-select__wrap {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    min-width: 170px;
    min-height: 50px;
}

.custom-select__wrap:not(:last-child) {
    margin-right: 10px;
}

.custom-select__wrap_level,
.custom-select__wrap_price {
    min-width: 126px;
}

.custom-select__wrap.active ul.custom-select__options-list {
    opacity: 1;
    pointer-events: unset;
}

ul.custom-select__default-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

ul.custom-select__options-list {
    display: flex;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    z-index: 10;
    top: 101%;
    left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--bg-gray-color);
    transition: all ease .2s;
}

ul.custom-select__default-option {
    min-height: 50px;
}

ul.custom-select__default-option,
ul.custom-select__options-list {

    border: 1px solid var(--bg-dark-grey);
    border-radius: 10px;
    padding: 5px 15px;
}


li.custom-select__default-item-wrap,
li.custom-select__item-wrap {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul.custom-select__options-list_level li.custom-select__item-wrap,
ul.custom-select__options-list_price li.custom-select__item-wrap{
    justify-content: center;
}

ul.custom-select__options-list_level .recent-post__right-bottom-level-wrap,
ul.custom-select__options-list_price .recent-post__right-bottom-level-wrap {
    margin-right: 0;
}

li.custom-select__item-wrap {
    justify-content: flex-start;
    min-height: 33px;
}

li.custom-select__item-wrap:hover .custom-select__text {
    /*border-bottom: 1px solid red;*/
    /*border-radius: 10px;*/
    font-weight: 600;
}

li.custom-select__item-wrap:not(:last-child) {
    margin-bottom: 10px;
}

.custom-select__default-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.custom-select__img-wrap {
    margin-right: 15px;
}

.custom-select__img {
    width: 29px;
    height: auto;
}

.custom-select__text {
    font-family: 'Maax', 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: var(--dark-gray);
}

.recent-post__right-bottom-bar-wrap_select {
    width: 68px;
}

.custom-select__options-list_level li:nth-child(1) .recent-post__right-bottom-level-bar-inner {
    width: 10%;
}

.custom-select__options-list_level li:nth-child(2) .recent-post__right-bottom-level-bar-inner {
    width: 65%;
}

.custom-select__options-list_level li:nth-child(3) .recent-post__right-bottom-level-bar-inner {
    width: 87%;
}

.custom-select__options-list_level li:nth-child(4) .recent-post__right-bottom-level-bar-inner {
    width: 43%;
}

.custom-select__options-list_level li:nth-child(5) .recent-post__right-bottom-level-bar-inner {
    width: 31%;
}

.custom-select__options-list_level li:nth-child(6) .recent-post__right-bottom-level-bar-inner {
    width: 27%;
}



/*  MEDIA   */
@media screen and (max-width: 1200px) {
    .container {
        max-width: 1140px;
        margin: 0 30px;
    }
}

@media screen and (max-width: 768px) {
    .section {
        padding: 30px 0 50px 0;
    }

    .section__title {
        margin-bottom: 30px;
    }

    .container {
        max-width: 720px;
        margin: 0 30px;
    }

    .tutoriels-video__content .surface__wrap {
        margin-top: 20px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        /*max-width: 540px;*/
        margin: 0 15px;
    }

    .custom-select__wrap:not(:last-child) {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .tutoriels-video__content .surface__wrap {
        max-width: 100%;
    }

    .tutoriels-video__content .surface__block {
        border-radius: 0;
        padding: 23px 38px 20px;
    }
}

@media screen and (width: 375px) {
    .section {
        padding: 30px 0;
    }

    .container {
        margin: 0 35px;
    }
}